<main>
  <nav class="categories">
    <a href="/categories/breakfast" class="cat-card">
      <img src="/src/images/Breakfast.PNG" alt="Breakfast" class="cat-image" />
      <h2 class="cat-title">Breakfast</h2>
    </a>
    <a href="/categories/lunch" class="cat-card">
      <img src="/src/images/Lunch.PNG" alt="Lunch" class="cat-image" />
      <h2 class="cat-title">Lunch</h2>
    </a>
    <a href="/categories/dinner" class="cat-card">
      <img src="/src/images/Dinner.PNG" alt="Dinner" class="cat-image" />
      <h2 class="cat-title">Dinner</h2>
    </a>
    <a href="/categories/dessert" class="cat-card">
      <img src="/src/images/Dessert.PNG" alt="Dessert" class="cat-image" />
      <h2 class="cat-title">Dessert</h2>
    </a>
    <a href="/categories/set-menu" class="cat-card">
      <img src="/src/images/Set-Menu.PNG" alt="Set Menus" class="cat-image" />
      <h2 class="cat-title">Set Menus</h2>
    </a>
    <a href="/categories/new-recipes" class="cat-card">
      <img src="/src/images/New-Recipes.PNG" alt="New Recipes" class="cat-image" />
      <h2 class="cat-title">New Recipe's</h2>
    </a>
  </nav>

  <!-- Carousel -->
  <div class="carousel-container" aria-label="Food Images">
    <button class="carousel-button prev-btn" aria-label="previus slide"></button>
    <div class="carousel-viewport">
      <ul class="carousel-track">
        <li class="carousel-item">
          <img src="/src/images/breakfast/Ricotta-Pancakes.png" alt="Cheese Pancake" />
        </li>
        <li class="carousel-item"><img src="/src/images/lunch/stake.png" alt="" /></li>
        <li class="carousel-item"><img src="/src/images/breakfast/Ricotta-Pancakes.png" alt="" /></li>
        <li class="carousel-item"><img src="/src/images/lunch/stake.png" alt="" /></li>
        <li class="carousel-item"><img src="/src/images/breakfast/Ricotta-Pancakes.png" alt="" /></li>
        <li class="carousel-item"><img src="/src/images/lunch/stake.png" alt="" /></li>
        <li class="carousel-item"><img src="/src/images/breakfast/Ricotta-Pancakes.png" alt="" /></li>
      </ul>
    </div>
    <button class="carousel-button next-btn" aria-label="next slide"></button>
  </div>
</main>
