<% 
const categoryPageCSS = true;
%>
<main>
  <section class="recipe-container">
    <article class="recipe-card">
      <figure>
        <img src="/src/images/Cheese-Pancake.png" alt="Cheese Pancake" />
      </figure>
      <div class="recipe-content">
        <h3>
          <a href="/categories/breakfast/ricotta-pancakes" class="main-link">Ricotta Pancakes</a>
        </h3>
        <p>A classic gourmet dish featuring cheese pancakes with a soft, creamy texture...</p>
        <p>Ready in: <time datetime="PT25M">25 min</time></p>
      </div>
    </article>

    <article class="recipe-card">
      <figure>
        <img src="/src/images/Cheese-Pancake.png" alt="Cheese Pancake" />
      </figure>
      <div class="recipe-content">
        <h3>
          <a href="#" class="main-link">Cheese Pancake</a>
        </h3>
        <p>A classic gourmet dish featuring cheese pancakes...</p>
        <p>Ready in: <time datetime="PT2H">10 min</time></p>
      </div>
    </article>

    <article class="recipe-card">
      <figure>
        <img src="/src/images/Cheese-Pancake.png" alt="Cheese Pancake" />
      </figure>
      <div class="recipe-content">
        <h3>
          <a href="#" class="main-link">Cheese Pancake</a>
        </h3>
        <p>A classic gourmet dish featuring cheese pancakes...</p>
        <p>Ready in: <time datetime="PT2H">10 min</time></p>
      </div>
    </article>

    <article class="recipe-card">
      <figure>
        <img src="/src/images/Cheese-Pancake.png" alt="Cheese Pancake" />
      </figure>
      <div class="recipe-content">
        <h3>
          <a href="#" class="main-link">Cheese Pancake</a>
        </h3>
        <p>A classic gourmet dish featuring cheese pancakes...</p>
        <p>Ready in: <time datetime="PT2H">10 min</time></p>
      </div>
    </article>

    <article class="recipe-card">
      <figure>
        <img src="/src/images/Cheese-Pancake.png" alt="Cheese Pancake" />
      </figure>
      <div class="recipe-content">
        <h3>
          <a href="#" class="main-link">Cheese Pancake</a>
        </h3>
        <p>A classic gourmet dish featuring cheese pancakes...</p>
        <p>Ready in: <time datetime="PT2H">10 min</time></p>
      </div>
    </article>

    <article class="recipe-card">
      <figure>
        <img src="/src/images/Cheese-Pancake.png" alt="Cheese Pancake" />
      </figure>
      <div class="recipe-content">
        <h3>
          <a href="#" class="main-link">Cheese Pancake</a>
        </h3>
        <p>A classic gourmet dish featuring cheese pancakes...</p>
        <p>Ready in: <time datetime="PT2H">10 min</time></p>
      </div>
    </article>

    <article class="recipe-card">
      <figure>
        <img src="/src/images/Cheese-Pancake.png" alt="Cheese Pancake" />
      </figure>
      <div class="recipe-content">
        <h3>
          <a href="#" class="main-link">Cheese Pancake</a>
        </h3>
        <p>A classic gourmet dish featuring cheese pancakes...</p>
        <p>Ready in: <time datetime="PT2H">10 min</time></p>
      </div>
    </article>

    <article class="recipe-card">
      <figure>
        <img src="/src/images/Cheese-Pancake.png" alt="Cheese Pancake" />
      </figure>
      <div class="recipe-content">
        <h3>
          <a href="#" class="main-link">Cheese Pancake</a>
        </h3>
        <p>A classic gourmet dish featuring cheese pancakes...</p>
        <p>Ready in: <time datetime="PT2H">10 min</time></p>
      </div>
    </article>

    <article class="recipe-card">
      <figure>
        <img src="/src/images/Cheese-Pancake.png" alt="Cheese Pancake" />
      </figure>
      <div class="recipe-content">
        <h3>
          <a href="#" class="main-link">Cheese Pancake</a>
        </h3>
        <p>A classic gourmet dish featuring cheese pancakes...</p>
        <p>Ready in: <time datetime="PT2H">10 min</time></p>
      </div>
    </article>

    <article class="recipe-card">
      <figure>
        <img src="/src/images/Cheese-Pancake.png" alt="Cheese Pancake" />
      </figure>
      <div class="recipe-content">
        <h3>
          <a href="#" class="main-link">Cheese Pancake</a>
        </h3>
        <p>A classic gourmet dish featuring cheese pancakes...</p>
        <p>Ready in: <time datetime="PT2H">10 min</time></p>
      </div>
    </article>
  </section>
</main>
